.wrapper{
    flex-direction:column;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr, 1fr;
    gap:5rem;
    }
    .title, .title1{
        font-size: 1.8rem;
        font-weight:600;
        color:var(--black-1);
        margin-bottom:2rem;
    }
    .text, .text1{
        font-size:1.4rem;
        line-height:1.4rem;
        color:var(--black-2);
        text-align: justify;
        
    }
    .image{
      
        gap:3rem;
        margin-left: 10rem;
    }
    @media only screen and(min-width:600px){
        .wrapper{
            flex-direction:row;
            gap:3rem;
        }
        .image{
          
            gap:7rem;
            margin-left:2rem;
        }
       .image,
        .info{
            flex:1;
           
        }
        .title,.title1{
            font-size:3.6rem;
    
        }
        .text, .text1{
            font-size:1.8rem;
            max-width:800px;
        }
    }
    .info1{
        text-align:left;
        margin-bottom:5rem;
    }
    .wrapper1 {
        object-fit:cover;
    }
    .wrapper1{
        max-width:1000px;
        margin:0 auto;
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:1fr, 1fr;
        
    }
    .image1{
        grid-row:3/3;
        margin-left:auto;
    
    }
    .text1{
        align-items: center;
        justify-content: center;
    }
    @media only Screen and (min-width:768px) {
        .info1{
            text-align:center;
        }
    
        
    .text1{
        margin-left: 7rem;
    }
    }